body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 9rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.radio-container, .checkbox-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 1rem;
}

input[type="submit"] {
  width: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
